.container1 {
    background-image: url('../../assets/img/bg-page-1-cut.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: auto;
}



.page_1{
    position: relative;
    padding: 16px;

}



.page_2{
    height: 500px;
}
